################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[Bb]in/
[Oo]bj/
/.vs
/src/LatexConverter/.vs
/src/latex-browser/.vs
